@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto+Condensed&display=swap');
body{
    background-color: #1d1e31;
    font-family: 'Playfair Display', serif;
}
.main_container.container{
    padding-top: 30px !important;
    height: 620px;
    border-radius: 10px;
    margin-top: 100px;
    background-image: linear-gradient(-135deg, #2e2e4b 0%, #323252 100%);
    cursor: pointer;
    box-shadow: 8px 8px 40px 0 rgba(0,0,0,0.07);
}
.form-control.form_symbol{
    padding: 20px;
    background-color: #323251;
    border: none;
    margin-bottom: 20px;
}
.form-control.form_symbol:hover{
    border: 2px solid #30ddd8;
}
.form-control.form_symbol label{
    font-size: 30px;
    margin-left: 5px;
    color: #cfcde1;
    box-shadow: 8px 8px 40px 0 rgba(0,0,0,0.07);
}
.form_summary{
    min-height: 400px;
}
.symbol{
    width: 100%;
    background-color: #323251;
    font-family: 'Roboto Condensed', sans-serif;
}
.select2-container--default .select2-selection--single{
    border-radius: 4px;
    background-color: #323251;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #30ddd8;
}
.select2-dropdown.select2-dropdown--below{
    background: #323251;
    border: 1px solid #323251;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 4px;
    color: #cfcde1;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #1d1e31;
    background: #1d1e31;
    height: 40px;
    color: #cfcde1;
}
.select2-container--default .select2-results>.select2-results__options{
    background: #1d1e31;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 8px 8px 40px 0 rgba(0,0,0,0.07);
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background: #1d1e31;
    color: #30ddd8;
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus:focus,
.select2-selection.select2-selection--single:focus,
.select2-search--dropdown:focus,
input:focus
{
    outline: none !important;
}
.select2-results__options{
    margin-top: -3px;
    width: 302px;
    margin-left: 3px;
}

.btn_summary_copy{
    height: 60px;
    background: #678be0;
    line-height: 60x;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #678be0 !important;
    box-shadow: 8px 8px 40px 0 rgba(0,0,0,0.07);
    color: #cfcde1;
}
.btn_summary_copy:hover,
.btn_summary_copy:focus,
.btn_summary_copy:active
{
    background-color: #1d1e31 !important;
    border: 2px solid #1d1e31 !important;
    outline: none;
    box-shadow: 8px 8px 40px 0 rgba(0,0,0,0.07);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 8px 8px 40px 0 rgba(0,0,0,0.07); 
}

.text_summary{
    min-height: 200px;
    border-radius: 4px;
    border: 2px dashed #f1f1f1;
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #cfcde1;
}
.form_kal{
    min-height: 560px;
}